<article>
  <% if notice %>
    <aside id="notice"><%= notice %></aside>
  <% end %>

  <h2>Your Pragmatic Cart</h2>

  <table>
    <tbody>
      <%= render(@cart.line_items) %> 
      <%# will loop if rendering collection of objects %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2" style="text-align: right">Total:</td>
        <td class="price"><%= number_to_currency(@cart.total_price) %></td>
        <td></td>
      </tr>
    </tfoot>
  </table>

 <%# Use cart_url instead of @cart %>
  <%= button_to 'Empty cart', cart_url, 
                method: :delete,
                form_class: 'redbutton',
                data: { confirm: 'Are you sure?' },
                remote: true %>

</article>